@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        <div class="me-4 text-end mb-3">
            <a href="https://github.com/akoc95" class="text-decoration-none text-black">Created by <span class="text-success fw-bold">akoc95</span></a>
        </div>
        <div class="menu">
            <div class="row col-12 p-3 text-center" id="rowSpan">
                <span><a href="/" class="text-decoration-none">Anamenü</a></span>
                <span><a href="/start-survey" class="text-decoration-none">Yeni Anket</a></span>
                <span><a href="/survey-view-all" class="text-decoration-none">Anketler</a></span>
            </div>
        </div>
    </footer>
</div>
