@page "/"


<div id="home" class="container">
    <a href="survey-view-all" class="btn btn-primary container-fluid d-flex align-items-center">
        <div class="text-start"><img src="images/survey_list.png" height="40" style="margin-left: 3px;"/></div>
        <div class="flex-grow-1 text-center fw-bold text-dark">Tamamlanan Anketler</div>
    </a>
    <a href="start-survey" class="btn btn-success container-fluid d-flex align-items-center">
        <div class="text-start"><img src="images/start_survey.png" height="40" /></div>
        <div class="flex-grow-1 text-center fw-bold text-dark">Anket Başlat</div>
    </a>
    <a href="create-survey" class="btn btn-secondary container-fluid d-flex align-items-center">
        <div class="text-start"><img src="images/create_survey.png" height="40" style="margin-left: 1px;" /></div>
        <div class="flex-grow-1 text-center fw-bold text-dark">Anket Oluştur</div>
    </a>
    <a href="create-question" class="btn btn-info container-fluid d-flex align-items-center">
        <div class="text-start"><img src="images/question.png" height="35" style="margin-left: 3px;" /></div>
        <div class="flex-grow-1 text-center fw-bold text-dark">Soru Oluştur</div>
    </a>
    <a href="create-answer" class="btn btn-warning container-fluid d-flex align-items-center">
        <div class="text-start"><img src="images/answer.png" height="35" style="margin-left: 3px;" /></div>
        <div class="flex-grow-1 text-center fw-bold text-dark">Cevap Oluştur</div>
    </a>
</div>
